###


---

# **Module 3: SQL for Data Analysis**

SQL (**Structured Query Language**) is the **standard language for databases**. Whether itâ€™s a small Excel export or a billion-row data warehouse, SQL is how you **ask the database questions** like:

ğŸ‘‰ *â€œShow me only the customers I want, in the form I want.â€*

---

## ğŸŸ¢ 1. SQL Basics

Letâ€™s start with a sample **customers** table:

| customer_id | first_name | last_name | age | city       | email                                   |
| ----------- | ---------- | --------- | --- | ---------- | --------------------------------------- |
| 101         | John       | Smith     | 35  | London     | [john@gmail.com](mailto:john@gmail.com) |
| 102         | Mary       | Jones     | 28  | Bristol    | [mary@yahoo.com](mailto:mary@yahoo.com) |
| 103         | Alex       | Brown     | 42  | Manchester | [alex@gmail.com](mailto:alex@gmail.com) |

---

### SELECT â†’ Fetch data

```sql
SELECT first_name, last_name, age
FROM customers;
```

ğŸ‘‰ Picks only chosen columns.

---

### WHERE â†’ Filter rows

```sql
SELECT *
FROM customers
WHERE age > 30;
```

ğŸ‘‰ Returns only customers older than 30.

---

### ORDER BY â†’ Sort results

```sql
SELECT first_name, age
FROM customers
ORDER BY age DESC;
```

ğŸ‘‰ Sorts customers by age, oldest first.

---

### LIMIT â†’ Restrict rows

```sql
SELECT *
FROM customers
LIMIT 2;
```

ğŸ‘‰ Shows only the first 2 rows.

---

**ğŸ’¡ Interview Tip:**
*What is the difference between WHERE and HAVING?*

* **WHERE** filters rows **before aggregation**.
* **HAVING** filters rows **after aggregation**.

---

## ğŸŸ¡ 2. Filtering Data

More powerful filtering with logical operators:

---

### AND / OR

```sql
SELECT *
FROM customers
WHERE age > 30 AND city = 'London';
```

ğŸ‘‰ Customers older than 30 **and** living in London.

---

### IN

```sql
SELECT *
FROM customers
WHERE city IN ('London', 'Manchester');
```

ğŸ‘‰ Customers from London **or** Manchester.

---

### BETWEEN

```sql
SELECT *
FROM customers
WHERE age BETWEEN 30 AND 40;
```

ğŸ‘‰ Customers aged between 30 and 40 (inclusive).

---

### LIKE â†’ Pattern matching

```sql
SELECT *
FROM customers
WHERE email LIKE '%@gmail.com';
```

ğŸ‘‰ Finds all customers with Gmail accounts.

* `%` = any number of characters
* `_` = exactly one character

---

## ğŸ”µ 3. Aggregations

Aggregations summarize data.

Letâ€™s add an **orders** table:

| order_id | customer_id | order_date | amount |
| -------- | ----------- | ---------- | ------ |
| 2001     | 101         | 2024-01-12 | 500    |
| 2002     | 102         | 2024-02-15 | 300    |
| 2003     | 101         | 2024-03-05 | 200    |
| 2004     | 103         | 2024-03-10 | 400    |

---

### COUNT, SUM, AVG, MIN, MAX

```sql
SELECT COUNT(*) AS total_orders,
       SUM(amount) AS total_revenue,
       AVG(amount) AS avg_order
FROM orders;
```

ğŸ‘‰ Counts orders, total sales, and average order size.

---

### GROUP BY â†’ Grouped aggregation

```sql
SELECT customer_id, SUM(amount) AS total_spent
FROM orders
GROUP BY customer_id;
```

ğŸ‘‰ Shows total spending per customer.

---

### HAVING â†’ Filter aggregated results

```sql
SELECT customer_id, SUM(amount) AS total_spent
FROM orders
GROUP BY customer_id
HAVING SUM(amount) > 400;
```

ğŸ‘‰ Only customers who spent more than 400.

---

## ğŸŸ£ 4. Joins

Joins combine data across tables.

---

### INNER JOIN â†’ Only matching rows

```sql
SELECT c.customer_id, c.first_name, o.order_id, o.amount
FROM customers c
INNER JOIN orders o
ON c.customer_id = o.customer_id;
```

ğŸ‘‰ Shows only customers **who placed orders**.

---

### LEFT JOIN â†’ All from left + matches

```sql
SELECT c.customer_id, c.first_name, o.order_id
FROM customers c
LEFT JOIN orders o
ON c.customer_id = o.customer_id;
```

ğŸ‘‰ All customers (even if they never ordered).

---

### RIGHT JOIN â†’ Opposite of LEFT

```sql
SELECT c.customer_id, c.first_name, o.order_id
FROM customers c
RIGHT JOIN orders o
ON c.customer_id = o.customer_id;
```

ğŸ‘‰ All orders, even if customer info is missing.

---

### FULL OUTER JOIN â†’ All rows from both

```sql
SELECT c.customer_id, c.first_name, o.order_id
FROM customers c
FULL JOIN orders o
ON c.customer_id = o.customer_id;
```

ğŸ‘‰ Every customer and every order, matched where possible.

---

**ğŸ’¡ Interview Tip:**

* **INNER JOIN** â†’ Use when you only care about matched records.
* **LEFT JOIN** â†’ Use when you want â€œall customers,â€ even if they didnâ€™t order.

---

## ğŸ”´ 5. Window Functions (Advanced SQL)

Window functions calculate **across rows** but keep each row visible (unlike GROUP BY).

---

### ROW_NUMBER â†’ Assigns unique numbers

```sql
SELECT customer_id, amount,
       ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY amount DESC) AS row_num
FROM orders;
```

ğŸ‘‰ Ranks each customerâ€™s orders from largest to smallest.

---

### RANK vs DENSE_RANK

```sql
SELECT order_id, amount,
       RANK() OVER (ORDER BY amount DESC) AS rnk,
       DENSE_RANK() OVER (ORDER BY amount DESC) AS dense_rnk
FROM orders;
```

ğŸ‘‰ RANK leaves gaps if ties exist; DENSE_RANK does not.

---

### SUM / AVG with OVER

```sql
SELECT customer_id, amount,
       SUM(amount) OVER (PARTITION BY customer_id) AS total_spent
FROM orders;
```

ğŸ‘‰ Shows each order along with the customerâ€™s total spending.

---

## ğŸŸ¤ 6. Subqueries & CTEs

---

### Subquery â†’ Query inside another query

```sql
SELECT first_name, age
FROM customers
WHERE age > (SELECT AVG(age) FROM customers);
```

ğŸ‘‰ Finds customers older than the average.

---

### Common Table Expressions (CTEs)

Make queries readable:

```sql
WITH customer_sales AS (
    SELECT customer_id, SUM(amount) AS total_spent
    FROM orders
    GROUP BY customer_id
)
SELECT *
FROM customer_sales
WHERE total_spent > 400;
```

ğŸ‘‰ First calculate spending â†’ then filter high spenders.

---

**ğŸ’¡ Interview Tip:**

* **Subquery** = used inline (filters, conditions).
* **CTE** = best for multi-step logic, more readable.

---

## ğŸ’¡ Practice Tasks

1. **Top 5 customers by spending**

```sql
SELECT customer_id, SUM(amount) AS total_spent
FROM orders
GROUP BY customer_id
ORDER BY total_spent DESC
LIMIT 5;
```

2. **Find customers older than the average age.**

3. **Show each customerâ€™s total spending, even if 0 (use LEFT JOIN).**

4. **Rank customers by total spending.**

5. **Use a CTE to list customers who spent more than 1000 in 2024.**

---

âœ… By the end of this module, you know how to:

* Extract data (`SELECT, WHERE, ORDER BY, LIMIT`)
* Summarize data (`COUNT, SUM, GROUP BY, HAVING`)
* Combine tables (`JOINs`)
* Do advanced analytics (`Window Functions, Subqueries, CTEs`)

ğŸ‘‰ This is **both beginner-friendly and advanced enough** for interviews.

---

Do you want me to **extend this further with real-world case studies** (like â€œfind churned customers,â€ â€œmonthly revenue growth,â€ â€œsecond highest salaryâ€)? That would make it even more **job-ready**.

---

## ğŸš€ End of Module 3 â€“ Key Takeaways

* Start with **SELECT, WHERE, ORDER BY, LIMIT** â†’ build solid foundations.
* Master **aggregations & GROUP BY** â†’ essential for reporting.
* Learn **JOINS** â†’ 90% of real-world queries involve multiple tables.
* Advance with **window functions & CTEs** â†’ common in interviews.

ğŸ‘‰ In interviews, youâ€™ll often face **case-based SQL challenges** like:

* â€œFind the second highest salary in the company.â€
* â€œShow monthly revenue growth compared to last year.â€
* â€œIdentify customers who bought only once.â€

---

###